#about {
    padding: 50px 0;
    text-align: center;
    background-color: #f2f2f2;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-title {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.about-title h1 {
    font-size: 2.5rem;
    margin: 0;
    color: #000;
    border: 2px solid #000; /* Black solid border */
    padding: 10px 20px; /* Adjust padding as needed */
}

.about-content {
    max-width: 800px;
    text-align: left;
}

.about-content div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.about-content div:last-child {
    text-align: center; /* Align the last box content to the center */
}

.about-content div:last-child p {
    font-weight: bold; /* Make the last paragraph bold */
}
h1 {
    font-size: 3rem;
    color: black;
}
h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #000;
}

p {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.5;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}
